.messages.uv-message {
  display: inline-block;
  padding: 5px 5px 5px 30px;
  background-position: 4px 50%;
  margin: 0 0 0 5px;
}

.messages.uv-message.validating {
  display: inline-block;
  border: none;
  padding: 5px;
  animation: uv-fadein 0.5s;
}

.messages.uv-message.empty {
  display: inline-block;
  border: none;
  padding: 5px;
  animation: uv-fadein 0.5s;
}

@keyframes uv-fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}